<app-interface (playAgain) = "startOver()"></app-interface>
<div class="main" >
  <div class="field">
    <div class="row">
      <div appCell *ngFor = "let letter of letters" class = "symbol">{{letter}}</div>
    </div>
      
    <div class="row" *ngFor = "let row of field; let y = index">
      <div appCell class = "symbol">{{y + 1}}</div>
      <div *ngFor = "let cell of row; let x = index" appCell
      [info] = "cell"></div>
    </div>
  </div>
 
  <div class="history">
    <app-history [history] = "history"></app-history>
  </div>
</div>

<app-alert (playAgain) = "startOver()" (later) = "reject()" *ngIf = "isGameOver"></app-alert>